{% extends "layout.html" %}
{% block title %}
Budget
{% endblock %}
{% block content %}
<div id="popup1" class="popup">
    <div class="popup-content">
        <h2>Monthly Income</h2>
        <form method="POST" action="/editincome/">
            <input type="hidden" id="ID" name="ID">
            <label class="form-label" for="Income">Income</label>
            <input class="form-input" type="number" placeholder="Enter Income" id="Income" name="Income" step="0.01" required>
            <button type="submit">Submit</button>
        </form>
        <button onclick="closepopup()" style="margin-top: 10px; padding:5px 10px; background-color: #dc3545; color: #fff; border: none; border-radius: 3px;">Close</button>
    </div>
</div>
<div id="popup2" class="popup">
    <div class="popup-content">
        <h2>Monthly Budget</h2>
        <form method="POST" action="/editbudget/">
            <input type="hidden" id="I" name="I">
            <label class="form-label" for="Budget">Budget</label>
            <input class="form-input" type="number" id="Budget" name="Budget" step="0.01" required>
            <button type="submit">Submit</button>
        </form>
        <button onclick="closepopup()" style="margin-top: 10px; padding:5px 10px; background-color: #dc3545; color: #fff; border: none; border-radius: 3px;">Close</button>
    </div>
</div>
<div>
    <label for="Edit">Monthly Income: {{ income }}</label>
    <button id="Edit" name="Edit">Edit</button>
</div>
<form method="POST">
    <select name="Year" id="Year" onchange="this.form.submit()">
                <option value="{{ year }}">{{ year }}</option>
                {% for years in years %}
                <option value="{{ years }}">{{ years }}</option>
                {% endfor %}
    </select>
    <select name="Month" id="Month" onchange="this.form.submit()">
                <option value="{{ mon }}">{{ monstr }}</option>
                <option value=1>January</option>
                <option value=2>Febuary</option>
                <option value=3>March</option>
                <option value=4>April</option>
                <option value=5>May</option>
                <option value=6>June</option>
                <option value=7>July</option>
                <option value=8>August</option>
                <option value=9>September</option>
                <option value=10>October</option>
                <option value=11>November</option>
                <option value=12>December</option>
    </select>
</form>
<div class="row">
    <div class="column">
        {{ transactions | safe }}
    </div>
    <div class="column">
        {{ accttran | safe }}
    </div>
</div>
<script type="text/javascript">
    function editincome(ID,Income) {
        document.getElementById('ID').value = ID;
        document.getElementById('Income').value = Income;
        document.getElementById('popup1').style.display = 'flex';
    }
    function editbudget(ID,Budget) {
        document.getElementById('I').value = ID;
        document.getElementById('Budget').value = Budget;
        document.getElementById('popup2').style.display = 'flex';
    }
    function closepopup() {
        document.getElementById('popup1').style.display = 'none'
        document.getElementById('popup2').style.display = 'none'
    }
</script>
{% endblock %}
