<!DOCTYPE html>
<html>
    <head>
        <title>Finance App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="navbar">
            <a href="{{ url_for('home') }}" class="navbar-brand">Home</a>
            <a href="{{ url_for('Transactions') }}" class="navbar-item">Transactions</a>
            <a href="{{ url_for('Investments') }}" class="navbar-item">Investments</a>
        </div>
        <div class="body-content">
            {% block content %}
            {% endblock %}
            <hr/>
        </div>
    </body>
</html>