<!DOCTYPE html>
<html>
    <head>
        <title>Finance App</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body style="display: flex;justify-content: center;align-items: center;">
        <div class="container">
            <div class="background">
                <span class="ball"></span>
                <span class="ball"></span>
                <span class="ball"></span>
                <span class="ball"></span>
                <span class="ball"></span>
                <span class="ball"></span>
            </div>
            <div class="main">
                <h1 style="margin-left: 2px;">Enter your login credentials</h1>
                <form method="POST" style="padding-left: 2px;">
                    <label for="User">User:</label>
                    <input type="text" id="User" name="User" placeholder="Enter your username" required style="margin-left: 31px; margin-top: 2px; margin-bottom: 2px;">
                    <br>
                    <label for="Password">Password:</label>
                    <input type="password" id="Password" name="Password" placeholder="Enter your password" required style="margin-top: 2px; margin-bottom: 2px;">
                    <br>
                    <button type="submit" style="display: block; margin: 0 auto;">Login</button>
                </form>
                <p style="padding-left: 5px;">Username or Password incorrect</p>
                <p style="padding-left: 5px;">Not registered?
                    <a href="Register" style="text-decoration: none;">Create an account</a>
                </p>
            </div>
        </div> 
    </body>
</html>

